<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1000915057889-qe6levv2ulab98b4jpgabfv9qsu2bsv2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBph3bK-w9NZqjaFsc5D91Xjzi9G8H4UYk</string>
	<key>GCM_SENDER_ID</key>
	<string>1000915057889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.surasole.fallrisk</string>
	<key>PROJECT_ID</key>
	<string>surasoles-cloud</string>
	<key>STORAGE_BUCKET</key>
	<string>surasoles-cloud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000915057889:ios:377ac1a319fe45c8bf0ba0</string>
	<key>DATABASE_URL</key>
	<string>https://surasoles-cloud.firebaseio.com</string>
</dict>
</plist>